@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#header {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border-bottom: solid;
    font-size: 28px;
    z-index: 1;
}
@media all and (max-width: 768px) {
    #header {
        font-size: 16px;
    }
    .header__logo {
        width: 100px;
    }
    .header__nav {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}
.header__logo {
    align-self: center;
    padding-left: 20px;
}
.header__nav {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.list {
    border: 3px solid;
    border-radius: 10px;
}
.links {
    color: #000;
    text-decoration: none;
}
.links:hover {
    color: darkblue;
    text-decoration: underline;
}
.hero {
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
}
.hero__title {
    font-weight: 500;
    font-size: 1.7rem;
    text-align: left;
}
.hero__text {
    margin-top: 1.5rem;
    text-align: left;
}
.hero__img {
    min-width: 30%;
    max-height: 100%;
    border-radius: 8px;
}
@media all and (max-width: 768) {
    .hero {
        flex-direction: column;
    }
}
.info {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info__card {
    width: 35%;
    text-align: center;
}
.info__card p {
    text-align: justify;
    font-size: 1rem;
}
.info__card div {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.info__card img {
    width: 60px;
}
#footer {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 24px;   
    background-color: lightblue;
    border-top: solid;
}
.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.footer__logo {
    align-self: center;
    padding-right: 20px;
}
.footer__ig {
    display: flex;
}
.footer__ig img{
    width: 32px;
    height: 100%;
    margin-left: 5px;
}
@media all and (max-width: 768px) {
    #footer {
        width: 100%;
    }
    .footer__content {
        font-size: 14px;
    }
    .footer__logo {
        width: 100%;
        max-width: 100px;
    }
}

/*Products*/

.main {
    position: relative;
    top: 10vh;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}
.main .item {
    width: 33.33333%;
    padding: 20px;
    box-sizing: border-box;
}
@media all and (max-width: 768px){
    .main .item {
        width: 100%;
    }
}
.item img {
    width: 300px;
    height: 175px;
}
.item .title {
    width: 300px;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}